extends ../layout
block content
  div
  if questionnaire.id
    h1 설문 수정
  else
    h1 설문지 작성
    
  form(action = (questionnaire.id) ? "/questionnaire/#{questionnaire.id}?_method=PUT" : "/questionnaire", method='POST')
    .form-group
      label(for='questionanireName') 설문지 제목
      input.form-control(type='text', id='questionnaireName', name='questionnaireName', placeholder='설문지 제목')
    .form-group
      label(for='questionnaireExplanation') 설문지 설명
      input.form-control(type='text', id='questionnaireExplanation', name='questionnaireExplanation', placeholder='설문지 설명')
    .form-group
      label(for='question') 질문 제목
      input.form-control(type='text', id='question', name='question', placeholder='질문 제목')
    .form-group.select
      label(for='questionType' id='questionTypeLabel') 질문 유형
      select.qusetionTypeSelect(id='questionType', class = "questionTypeClass",name='questionType', onchange="myfunction()")
        option(value='select') 선택
        option(value='short') 단일 입력
        option(value='long') long text
        option(value='multiple') 객관식 질문
        
    div.form-actions
      a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
      | 
      button.btn.btn-primary(type='button' id="addQuestion" onclick="addQuestionFunction()") 질문 추가
      button.btn.btn-primary(type='submit') 완료
