extends ../layout
block content
  div
    h1 설문지
    p
      b by #{questionnaire.email}
      | 
      span at #{moment(questionnaire.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
    p.well(style='white-space:pre;')= questionnaire.contents
    
    a.btn.btn-default(href='#') 목록
