extends ../layout
block content 
    div
      h1 설문 결과
    
      each questionnaireAnswer in questionnaireAnswers
        p
          span at #{moment(questionnaireAnswer.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
        p.well(style='white-space:pre;')= questionnaireAnswer.answer
