doctype html
html(lang='ko')
  head
    title signInView
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.js')
  body
    div.wrapper
      div.container
        header
          div.row
            div.navbar
              div.navbar-header
                button.navbar-toggle.collapsed(type = "button" data-target=".navbar-collapse" data-toggle="collapse")
                a.navbar-brand(href = "/") Questionnaire  
              div.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li 
                    a(href="/questionaires") Questionnaire
                  li 
                    a(href="/users") User
                  li 
                    a(href="#") Contact
                ul.nav.navbar-nav.sign
                  li 
                    a(href="/signInView") Sign in
                  li 
                    a(href="/signUpView") Sign up  
              div.form-div
                form.form-signin(action='/signin', method='POST')
                  label(for='email', class='sr-only') Email address
                  input(
                  type='email', id='email', name='email', class='form-control', 
                  placeholder='Email address', required, autofocus
                  )
                  label(for='password', class='sr-only') Password
                  input(
                  type='password', id='password', name='password', class='form-control', 
                  placeholder='Password', required, autofocus
                  )
                  button.btn.btn-lg.btn-primary.btn-block(type='submit') 로그인
                  hr
                  a.btn.btn-default.btn-mini(href='/users/new') 회원가입
                  | 
                  a.btn.btn-default.btn-mini(href='/reset-password') 비밀번호 재설정  
    footer
          div.container
            nav.nav-footer
              p.credits © All Rights Reserved 2015

        
  
